<!-- BEGIN date -->
<label for="{date.FIELD_IDENT}_day">{L_DAY}{L_COLON} <select name="{date.FIELD_IDENT}_day" class="form-control" id="{date.FIELD_IDENT}_day" tabindex="6" >{date.S_DAY_OPTIONS}</select></label>
<label for="{date.FIELD_IDENT}_month">{L_MONTH}{L_COLON} <select name="{date.FIELD_IDENT}_month" class="form-control" id="{date.FIELD_IDENT}_month" tabindex="6" >{date.S_MONTH_OPTIONS}</select></label>
<label for="{date.FIELD_IDENT}_year">{L_YEAR}{L_COLON} <select name="{date.FIELD_IDENT}_year" class="form-control" id="{date.FIELD_IDENT}_year" tabindex="6" >{date.S_YEAR_OPTIONS}</select></label>
<!-- END date -->
