<!-- INCLUDE overall_header.html -->

<!-- IF CREATION_ANNONCE -->
<div class="container pb-3" style="border: 1px solid rgba(0,0,0,.125);">
    <h1>Etape par étape</h1>
    <div class="progress">
        <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
        Etape 4/4 : Paiement sécurisé de votre achat
        </div>
    </div>
</div>
<br>
<!-- ENDIF -->

<div class="container-fluid">
        <div calss="row">
    
            <div class="col">
    
            </div>
            <div class="col">
    
                <div class="container-fluid" >
    
                    <div class="row">
                            <div class="container pt-4 mt-4 mb-4" style="background-color: rgba(185, 185, 185, 0.527); border: 1px solid #C0C0C0; border-radius: 10px; box-shadow: 3px 3px 6px 0 #A9A9A9; width: 650px">
        
                                <div class="container pt-4 mb-4" style="background-color: white; border: 1px solid #C0C0C0; border-radius: 10px; box-shadow: 3px 3px 6px 0 #A9A9A9; width: 600px">
        
                                    <ul class="col-sm-12 clearfix" >
                                        <!-- DEBUT CONTENU -->
                                        
    
    
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-12" style="text-align: center">
                                                    
                                                            <img src="{T_IMAGES_PATH}site/accueil/logo-virement-bancaire.png">
                                                            <br>
                                                            <br>Connectez-vous à votre banque en ligne ou contactez votre banquier. 
                                                            Transférez exactement <b>{montant} €</b> sur le compte EPSILON ci-dessous :
                                                            <br>
                                                            <br><b>A</b> : SAS Epsilon
                                                        
                                                            <br><b>Titulaire du compte</b> : SAS EPSILON
                                                            <br><b>IBAN</b> : FR76 1780 7000 0105 4219 7797 985
                                                            <br><b>BIC / SWIFT</b> : CCBPFRPPTLS
                                                            
                                                            <br><b>Code banque</b> : 17807
                                                            <br><b>Code guichet</b> : 00001
                                                            <br><b>Numéro de compte</b> : 05421977979
                                                            <br><b>Clé RIB</b> : 85
                                                            <br><b>Domiciliation</b> : BPOC TOULOUSE ALSACE
                                                            <br><b>Banque</b> : BANQUE POPULAIRE OCCITANE
                                                            <br><br>
                                                            <a href="{U_ALT_MES_ANNONCES}">
                                                            <input type="submit" name="retourAnnonce" value="Retour à mes annonces" class="btn btn-success default-submit-action"/>
                                                            </a>
                                                    </div>
                                                </div>
                                            </div>
    
                                        <!-- FIN CONTENU -->
                                    </ul>
                                </div>
                            </div>
                        </div>
               
               
                </div>	
            </div>
        </div>
    </div>

    <!-- <div class="alt_lien_sous_titre">{email_enable}</div> -->

<!-- INCLUDE overall_footer.html -->
