<div id="map{villes.NUM_ONGLET}" class="mapAnnonce" ></div>

<script>
    function initMap() {
        // France: 46.227638 | Longitude : 2.213749
        var map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: 46.227638, lng: 2.213749},
            zoom: 6
        });

        // Create an array of alphabetical characters used to label the markers.
        var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';

        // Add some markers to the map.
        // Note: The code uses the JavaScript Array.prototype.map() method to
        // create an array of markers based on a given "locations" array.
        // The map() method here has nothing to do with the Google Maps API.
        var markers = locations.map(function(location, i) {
          return new google.maps.Marker({
            position: location,
            label: labels[i % labels.length]
          });
        });

         // Add a marker clusterer to manage the markers.
         var markerCluster = new MarkerClusterer(map, markers,
            {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});

         


    }
    //var markerVitrolles = {lat: 43.442979, lng: 5.250262};
    var markerToulouse = {lat: 43.6046256, lng: 1.4442050000000108};
    var markerCastelnau = {lat: 43.783897, lng: 1.3576699999999846};
    var markerMontrozier = {lat: 44.40605799999999, lng: 2.7468200000000706};
    var markerVauver = {lat: 43.692984, lng: 4.278325999999993};
    var markerCaveirac = {lat: 43.82521000000001, lng: 4.261500000000069};
    var markerColomiers = {lat: 43.612189, lng: 1.3365790000000288};
    

    var locations = [
      //  markerVitrolles,
      <!-- BEGIN list_geoloc -->
      {lat: {list_geoloc.LAT}, lng: {list_geoloc.LONG}},
      <!-- END list_geoloc -->

    ];
</script>
<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAqnvp98NNzkSrxXhSaTROZQ0TTQDkgOfU&callback=initMap"
async defer></script>