<!-- INCLUDE overall_header.html -->
<div class="container-fluid">
    <div class="row">
        <div class="col">
                <hr style="height: 1px; color: rgb(0, 0, 0); background-color: rgb(0, 0, 0); width: 100%; border: none;">
        </div>
        <div class="col-auto" style="text-align: center; color: black; font-family:Helvetica;">
            <h1>LES SALAIRES EN ALTERNANCE</h1>
            
        </div>
        <div class="col">
                <hr style="height: 1px; color: rgb(0, 0, 0); background-color: rgb(0, 0, 0); width: 100%; border: none;">
        </div>
    </div>
    <div class="row justify-content-center m-2">
        <div class="col-12 col-sm-9 col-md-9 col-lg-9" role="main" style="border-style: solid; border-width: thin; border-color: black">
           
            <div style="text-align: center">
                    <img src="{T_IMAGES_PATH}site/pages/les-salaires-en-contrat-d-alternance.png" class="mt-2">
            </div>
             
            <p>
            <div class="col-auto" style="color: black; font-family:Helvetica;">
            <br><h2>Les Salaires en Contrat d'Alternance</h2>
            <p style="font-size : 16px"><br>Le salaire mensuel en <b>Alternance</b> dépend de votre âge ainsi que de vos années d’études au cours de vos <b>formations</b>.
            <br>Il est calculé en pourcentage du SMIC, à savoir 1 498,47 € brut pour 35 heures au 1er janvier 2018.</p>
            <hr style="height: 2px; color: rgb(0, 0, 0); background-color: rgb(255, 0, 0); width: 100%; border: none;">
             <br>
             <h2>Les Salaires en Contrat d’apprentissage</h2>

             <br>Le <b>Contrat d’Apprentissage</b> est particulier car c’est le plus ancien, le plus utilisé et le plus encadré des <b>contrats de travail</b>. 
             <br>Il peut aussi bien être conclu en CDD qu’en CDI, sans période d’essai à la suite en cas d’embauche.
             <br>Versée par l’<b>entreprise</b>, la rémunération est calculée en pourcentage du SMIC.
             <br>Ce contrat peut varier de 25 à 78 % selon votre âge et vos années d’<b>études</b>. Plus vous vous formez et plus votre <b>rémunération</b> augmente.
             <br>Cependant, certaines branches professionnelles accordent un <b>salaire</b> minimum conventionnel plus favorable que d’autres.
             <br>
             <br>De plus, la scolarité est gratuite car elle est financée par l'<b>employeur</b> ainsi que la Région.
             <br>À noter qu’une participation financière pour l'achat d'équipements individuels peut tout de même être exigée.
             <br>
             <br>
             <img src="{T_IMAGES_PATH}site/pages/salaire_tableau1.png"> 
             <br><br>
             <h2>Les Salaires en contrat de professionnalisation</h2>
             <br>Le <b>Contrat de Professionnalisation</b> est un autre <b>contrat de travail</b> bien différent du <b>contrat d’apprentissage</b>.
                <br>Il peut être conclu pour une durée précise en CDD avec la possibilité de le renouveler une fois, ou en CDI avec une période de <b>professionnalisation</b> de six à douze mois.
             <br>
             <br>Ce contrat varie également en fonction des années de qualification acquises et <b>expériences</b>.
             <br>Comme pour le contrat d’apprentissage, plus vous vous formez et êtes ancien dans le métier, plus votre <b>rémunération</b> augmente.
             <br><br><img src="{T_IMAGES_PATH}site/pages/salaire_tableau2.png"> 
             <br><br>
             * Les diplômes ou titres sont reconnus officiellement à finalité professionnelle quand ils sont inscrits 
             au <a href="http://www.rncp.cncp.gouv.fr/" style="; color:black"> RNCP</a> (Répertoire national des certifications professionnelles). C'est le cas, 
             par exemple, des bacs technologiques et professionnels – mais pas des bacs généraux –,
              des CQP (certificats de qualification professionnelle), des licences et des masters (école publique).

            </p>
           <br><br>
        </div>         
        <div class="col-12 col-sm-3 col-md-3 col-lg-3" role="complementary" >

            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- Test -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-5250430950478493"
                 data-ad-slot="4948269035"
                 data-ad-format="auto"></ins>
            <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
            </script>

<!--
            <div class="card text-white m-1"  style="min-width: 10rem; max-width: 20rem; background: rgb(27, 134, 235); text-align: center">
                <div class="card-header">DOSSIER SPECIAL<br>ALTERNANCE</div>
                <div class="card-body" style="background: rgb(169, 207, 243);">
                    <p class="card-text" style="color: black">UN TREMPLIN<br>VERS<br>L'EMPLOI ?</p>
                </div>
                <div >
                    <img src="{T_IMAGES_PATH}site/accueil/femme-tablette.jpg" style="width: 100%"> 
                </div>
                <div style="background: rgb(27, 134, 235); text-align: center" class="mb-2">
                    TEMOIGNAGES
                    <br>
                    <input type="submit" name="submit" id="submit" value="Voir le dossier" class="btn btn-info default-submit-action" />
                </div>
            </div>
-->
        </div>
    </div>
</div>
<!-- INCLUDE overall_footer.html -->