<!-- INCLUDE overall_header.html -->
<div class="container-fluid">
        <div class="row">
            <div class="col-auto-12 col-sm-12 col-md-12 col-lg-12" style="text-align: center; color: blue">
                <h3>Les stages en entreprises</h3>
                <hr style="height: 2px; color: rgb(0, 0, 0); background-color: rgb(0, 0, 0); width: 100%; border: none;">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-sm-9 col-md-9 col-lg-9" role="main">
               
               
                <img src="{T_IMAGES_PATH}site/accueil/diplome.jpg" style="width: 95%;"> 
               
                <br><br>
                <br>Diplômes accessibles par la formation en alternance
                <br>La formation en alternance permet d’obtenir une qualification professionnelle validée par un diplôme ou titre reconnu. Les spécialisations s’adressent à l’ensemble des secteurs d’activité.
                <br><br>
                <br>Le principe de formation reste le même quel que soit le contrat et le type de diplôme recherché : une alternance entre enseignement théorique par un organisme de formation et mise en pratique dans l’entreprise.
                <br><br>
                <br>Le nombre de diplômes en alternance est important, tout comme les secteurs d’activité.
                <br>
                <br>L’intérêt de la formation en alternance
                <br>Les diplômes en alternance
                <br>L’alternance s’adresse à tous types de métiers !
                <br>La formation en alternance permet de valider des acquis théoriques par des expériences pratiques en entreprise. Elle facilite l’insertion professionnelle à l’issue de l’obtention du diplôme ou titre obtenue.
                <br><br>
                <br>Pour l’entreprise, c’est une opportunité de préparer ses besoins de recrutement en format un alternant à ses métiers et de faciliter l’intégration d’un nouveau salarié.
                <br><br>
                <br>Elle ouvre droit à une rémunération des alternants et permet aux entreprises de bénéficier d’aides et exonérations fiscales.
                <br><br>
                <br>Quels types de diplômes en alternance ?
                <br>L’alternance permet de préparer des diplômes à tous les niveaux de formation depuis le secondaire jusqu’aux études supérieures.
                <br><br>
                <br>Le niveau de qualification de la formation varie suivant la nature du contrat signé par l’entreprise qui embauche l’alternant. Contrat d’apprentissage ou contrat de professionnalisation permettent ainsi de répondre à différents objectifs de formation professionnelle.
                <br><br>
                <br>Accessible à partir du collège et jusqu’au niveau master, la formation en alternance prépare aussi à un ensemble des qualifications professionnelles reconnues qui touchent tous les secteurs d’activité.
                <br><br>
                <br>La différence entre contrat d’apprentissage et contrat de professionnalisation
                <br>Les deux contrats différent en termes d’objectifs de formation et cela se traduit au niveau des titres préparés.
                <br><br>
                <br>Pour le contrat d’apprentissage, il s’agit d’acquérir « une formation théorique et pratique en vue d’une qualification professionnelle reconnue et sanctionnée par un diplôme ou titre ».
                <br><br>
                <br>Le contrat de professionnalisation vise à « acquérir une qualification et favoriser l’insertion ou la réinsertion professionnelle ».
                <br><br>
                <br>Dans les faits, seul le contrat d’apprentissage prépare aux diplômes d’état du secondaire et de l’enseignement supérieur (CAP, BTS, DUT, licence, master, etc.).
                <br><br>
                <br>Les deux contrats permettent de préparer un Diplôme ou titre professionnel enregistré au RNCP (Répertoire nationale des certifications professionnelles).
                <br><br>
                <br>Dans le but de répondre aux besoins spécifiques des entreprises, le contrat de professionnalisation permet aussi d’obtenir un Certificat de qualification professionnelle (CQP) de branche ou une qualification reconnue dans les classifications d’une convention collective nationale.
                <br><br>
                <br>Les diplômes d’état pouvant être obtenus en alternance dès le secondaire
                <br>Diplômes	Secteurs concernés	Durée de la formation	Mode de fonctionnement de l’alternance
                <br>CAP	Commerce, industrie, services
                <br>Donnent accès à 215 types de CAP
                <br>
                <br>–       2 ans après la classe de troisième
                <br>–       1 an après une seconde professionnelle
                <br>
                <br>–       1 an après une première année de CAP
                <br>
                <br>–       Une semaine en cours, une semaine en entreprise
                <br>BP	Tous secteurs dont les plus recherchés sont la Vente, la coiffure et l’esthétique, l’art floral et la boucherie	2 ans	–       Par semaine : 2 jours de cours + 3 jours de pratique
                <br>–       Une journée partagée en demi-journée de cours et demi-journée de travail
                <br>
                <br>–       Une semaine de cours et 2 semaines en entreprise
                <br><br>
                <br>Bac Pro	Divers domaines dont les services, commerce, agriculture, sanitaire et social…	–       3 ans après la classe de 3ème
                <br>–       2 ans après un CAP ou un BEP
                <br><br>
                <br>–       Période d’enseignement des cours théoriques sur les techniques professionnelles et les enseignements généraux
                <br>–       22 semaines de stages réparties sur les 3 années du cursus de formation
                <br><br>
                <br>Les diplômes d’état post-bac pouvant être préparés en alternance
                <br>Diplômes	Avantages	Durée de la formation	Conditions d’admission
                <br>BTS ou Brevet de Technicien Supérieur	–          Etre rémunéré
                <br>–          Le statut de l’étudiant (stagiaire ou salarié) au sein de l’entreprise d’accueil détermine sa rémunération
                <br><br>
                <br>–          1 à 3 ans selon le diplôme de départ
                <br>–          2 ans en général pour un contrat d’apprentissage
                <br><br>
                <br>–          Etre titulaire d’un baccalauréat
                <br>DUT ou Diplôme Universitaire de Technologie	–          Cours magistraux et travaux dirigés dans les établissements d’enseignement
                <br>–          Travaux pratiques, projets accompagnés par les tuteurs et stages en entreprises
                <br><br>
                <br>2 ans après le baccalauréat	–          Titulaire du baccalauréat
                <br>–          Etudiants en enseignement supérieur en vue d’une réorientation de formation
                <br><br>
                <br>–          Validation des Acquis de l’Expérience (VAE)
                <br><br>
                <br>Licence ou Licence professionnelle	–          Statut de salarié à temps partiel
                <br>–          Expérience réelle contrairement au stéréotype de la licence théorique
                <br><br>
                <br>3 ans après le baccalauréat (premier cycle universitaire)	–          Baccalauréat
                <br><br> 
                <br><br>
                <br>DCG ou (Diplôme de Comptabilité et de Gestion)	–          Expérience conséquente en entreprise
                <br>–           Percevoir une gratification
                <br><br>
                <br>–          Horaires flexibles
                <br><br>
                <br>3 ans après le baccalauréat	–          Bacc L, ES et S
                <br>–          Bacc technologiques STT et STG
                <br><br>
                <br>–          Titulaire d’un BTS en Comptabilité et Gestion des organisations
                <br><br>
                <br>Bachelor ou Diplôme École de commerce	–          Mise en pratique en entreprise
                <br>–          Percevoir une gratification
                <br><br>
                <br>3 ans après admission  (jusqu’à 5 ans pour certains programmes)	–          Accessible post-bac ou après classe préparatoire ou admission sur titre à partir de bac+2
                <br>Diplôme d’ingénieur	–          Mise en pratique en entreprise
                <br>–          Percevoir une gratification
                <br><br>
                <br>3 ans après admission	–          Accessible post-bac ou après classe préparatoire ou admission sur titre à partir de bac+2
                <br>Master	–          Formation réalisée en grande partie au sein de l’entreprise
                <br>–          Percevoir une gratification
                <br><br>
                <br>–          2 ans après la Licence
                <br>–          12 à 18 mois pour le MSc (Master of Science)
                <br><br>
                <br><br> 
                
                <br>–          Titulaire d’une licence
                <br>Niveaux des titres reconnus au RNCP accessibles en alternance
                <br>Niveau I :	équivalent à un master, doctorat ou diplôme d’une grande école (Bac + 5)
                <br>Niveau II :	équivalent à la licence ou maîtrise (Bac + 3, Bac + 4)
                <br>Niveau III :	équivalent à un DUT, BTS ou fin de 1er cycle de l’enseignement supérieur (Bac + 2)
                <br>Niveau IV :	équivalent à un BP (brevet professionnel), BT (brevet de technicien), Bac Professionnel ou technologique
                <br>Niveau V :	équivalent à un CAP ou CFPA (certificat de formation professionnelle des adultes)
                <br>Les diplômes obtenus en alternance sont-ils reconnus ?
                <br>Une même reconnaissance est attribuée pour tous les diplômes qu’ils aient été préparés en alternance ou en formation initiale. Mais l’alternance est un atout d’insertion dans le monde professionnel.
                <br><br>
                <br>À l’issue de leur formation, les alternants bénéficient d’une reconnaissance particulière des professionnels en raison de l’expérience pratique réalisée au cours de leur cursus.
                <br>
                <br>L’alternance accompagne leur montée en compétence pratique et facilite l’intégration dans l’entreprise et l’adaptabilité à ses métiers.
                <br><br><br><br>
            </div>         
            <div class="col-12 col-sm-3 col-md-3 col-lg-3" role="complementary" >
    
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- Test -->
                <ins class="adsbygoogle"
                    style="display:block"
                    data-ad-client="ca-pub-5250430950478493"
                    data-ad-slot="4948269035"
                    data-ad-format="auto"></ins>
                <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
    
            </div>
        </div>
    </div>
    <!-- INCLUDE overall_footer.html -->