
      
<!-- Modal -->
<div class="modal fade" id="modalOffre" tabindex="-1" role="dialog" aria-labelledby="Offre" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ingénieur réseau</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="alt_lien_sous_titre">
                Type de contrat : Contrat de professionnalisation
                <br>Lieu : Lyon
            </div>
            <br> 
            Vous souhaitez révéler votre talent commercial et donner un nouveau sens à votre vie professionnelle? Vous avez envie d’une carrière commerciale où vous pourrez exprimer pleinement votre personnalité ? Rejoignez les équipes commerciales d’AXA, au cœur de votre région !
            <br><br>
            <b>Votre future mission chez AXA ?</b><br>
            Protéger nos clients dans tous les évènements importants et leur garantir sécurité et accompagnement tout au long de leur vie.
            <br><br>
            Conseiller commercial AXA - Bouches du Rhône (13) (H/F)
            <br><br>
            Les conseillers AXA sont des commerciaux salariés du Groupe AXA, ils commercialisent nos solutions auprès d’un portefeuille de clientèle variée : professionnels, libéraux, artisans, commerçants et chefs d’entreprise. Spécialistes des solutions d’épargne et de protection sociale (prévoyance, dépendance, retraite), ils engagent une véritable expertise auprès de nos clients.
            <br><br>
            Au quotidien, vous exercerez un métier enrichissant et varié : de la conquête de clientèle à la mise en place de solutions sur mesure pour répondre aux besoins de vos clients dans les domaines de l’épargne et de la protection sociale. Vous vous organiserez en toute autonomie, tout en disposant d’un soutien d’experts et de formations tout au long de votre vie professionnelle. 
            <br><br>
            AXA est engagé dans la transformation digitale et vous en bénéficierez au quotidien, grâce à des solutions et des méthodes innovantes pour faciliter votre travail, comme l’utilisation de l’Ipad Pro en clientèle et la signature électronique. 
            Chez AXA, l’accompagnement des commerciaux n’est pas qu’un simple mot : nous vous apporterons un soutien et une méthodologie avérée pour optimiser votre réussite, dès le début de votre carrière, dans la construction et le développement de votre portefeuille, en fonction de vos appétences et de votre réseau naturel. 
            Dès votre embauche, vous bénéficierez d’un cursus de formation rémunéré afin de construire votre parcours professionnel.  
            <br><br>
            En tant que collaborateur du groupe AXA, vous bénéficierez d’avantages intéressants (participation, intéressement, contrat santé, contrats d’assurance, banque…) 
            <br><br>
            « Fiscalité, retraite, dépendance, obsèques… Je travaille sur des produits complexes et sur des domaines encore très flous pour nos clients. Mon métier, c’est plus que de la vente. C’est du conseil et c’est très motivant ! »  Christophe L., Conseiller AEP
            <br><br>
            <b>PROFIL RECHERCHE</b><br>
            Vous justifiez d’une expérience réussie dans la vente et la prospection
            Vous êtes au minimum diplômé d’un Bac +2
            Vous êtes dotée d’un réel tempérament commercial, du goût du challenge, et de dynamisme
            Le maitre-mot du poste de conseiller commercial chez AXA : autonomie ! Bien sûr, cela rend donc indispensable aussi de l’autodiscipline : vous être le seul gérant de votre emploi du temps, de vos actions et de la croissance de votre affaire. 
            Permis B obligatoire
            Une présence active sur les réseaux sociaux professionnels serait un plus
            <br><br>
            <b>A PROPOS D’AXA :</b>
            <br><br>
            Aimeriez-vous vous lever chaque jour motivé(e) par une mission inspirante et travailler en équipe pour permettre de protéger les personnes et leurs proches? Chez AXA nous avons l’ambition de mener la transformation de notre métier. Nous cherchons des personnes talentueuses ayant une expérience diversifiée, qui pensent différemment, et qui veulent faire partie de cette transformation passionnante en challengeant le statu quo et faire d’AXA – marque globale leader et une des sociétés les plus innovantes dans notre secteur – une entreprise encore plus performante et responsable. Dans un monde en perpétuelle évolution et avec une présence dans 64 pays, nos 166 000 salariés et distributeurs privilégiés anticipent le changement pour offrir des services et solutions adaptés aux besoins actuels et futurs de nos 103 millions de clients.
            <br><br>
            Leader mondial de l’assurance et de la gestion d’actifs, AXA aide ses 103 millions de clients à traverser les petites et grandes difficultés de la vie et les accompagne dans la sécurisation de leurs projets. Pour aider ses collaborateurs dans leur mission, AXA se donne comme priorité de prendre soin d’eux. Ainsi, en rejoignant AXA France vous travaillerez dans une entreprise responsable, offrant une véritable culture d’expertise, accélérant le développement des compétences de chacun, proposant une rémunération attractive et une évolution régulière. Pour vous, nous réinventons notre métier.
            <br><br>
            <b>LES + AXA :</b>
            <br><br>
            AXA vous apporte une vraie reconnaissance de votre performance ! La rémunération est non plafonnée et tient compte de votre performance : fixe  + commissionnement  + stimulation commerciale. 
            Avantage d’un grand groupe d’envergure internationale : participation / intéressement / contrat santé, prévoyance et dépendance / Assurance et Compte bancaire
            AXA assurera votre formation initiale vous permettant d’obtenir une habilitation de la Fédération Française des Sociétés d’Assurances pour la vente de produits d’assurance.Vous suivrez régulièrement des formations pour renforcer votre expertise.
            Vous bénéficierez au quotidien d’un accompagnement spécifique de qualité, dispensé par un management de proximité au sein de votre équipe.
            
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
            <button type="button" class="btn btn-success" data-dismiss="modal">Postuler</button>
        </div>
        </div>
    </div>
</div>

<table class="table table-striped table-hover table-bordered table-responsive">
   <thead style="background-color: rgb(100, 100, 100); color: white">
    <tr>
        <th scope="col"><b>Annonce</b></td>
        <th scope="col"><b>Ville</b></td>
        <th scope="col"><b>Date</b></td>
    </tr>
  </thead>
  <tbody>
    <tr>
            <td scope="row" >
                    <a href="#modalOffre" class="alt_lien" data-toggle="modal" >Commercial</a>
                    <div class="alt_lien_sous_titre">Contrat de professionnalisation</div><br> 
                    <br>Dans le cadre de l'évolution et de la croissance de sa B.U. Pharmacie, le Groupe Cegedim recherche un INGÉNIEUR COMMERCIAL (H/F).  
                    <div style="text-align: right">
                        <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#modalOffre">
                            Consulter l'offre
                        </button>
                    </div>
            </td>
            <td>Villerbanne</td>
            <td>Publiée aujourd'hui</td>
        </tr>
    <tr>
        <td scope="row" >
                <a href="#modalOffre" class="alt_lien" data-toggle="modal" >Ingénieur réseau</a>
                <div class="alt_lien_sous_titre">Contrat de professionnalisation</div><br> 
                <br>Dans le cadre de l'évolution et de la croissance de sa B.U. Pharmacie, le Groupe Cegedim recherche un INGÉNIEUR COMMERCIAL (H/F).  
                <div style="text-align: right">
                    <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#modalOffre">
                        Consulter l'offre
                    </button>
                </div>
        </td>
        <td>Villerbanne</td>
        <td>Publiée aujourd'hui</td>
    </tr>
    <tr>
        <td scope="row">
                <a href="#modalOffre" class="alt_lien" data-toggle="modal" >Ingénieur web</a>
                <div class="alt_lien_sous_titre">Stage</div><br>
                <br>Dans le cadre de l'évolution et de la croissance de sa B.U. Pharmacie, le Groupe Cegedim recherche un INGÉNIEUR COMMERCIAL (H/F).
                <div style="text-align: right">
                        <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#modalOffre">
                            Consulter l'offre
                        </button>
                    </div>
        </td>
        <td>Paris</td>
        <td>Il y a 1 jour</td>
    </tr>    
    <tr>
            <td scope="row">
                    <a href="#modalOffre" class="alt_lien" data-toggle="modal" >Ingénieur web</a>
                    <div class="alt_lien_sous_titre">Contrat de professionnalisation</div><br>
                    <br>Dans le cadre de l'évolution et de la croissance de sa B.U. Pharmacie, le Groupe Cegedim recherche un INGÉNIEUR COMMERCIAL (H/F).
            </td>
            <td>Paris</td>
            <td>Il y a 3 jour</td>
        </tr>    
        <tr>
                <td scope="row">
                        <a href="#modalOffre" class="alt_lien" data-toggle="modal" >Ingénieur</a>
                        <div class="alt_lien_sous_titre">Contrat de professionnalisation</div><br>
                        <br>Dans le cadre de l'évolution et de la croissance de sa B.U. Pharmacie, le Groupe Cegedim recherche un INGÉNIEUR COMMERCIAL (H/F).
                </td>
                <td>Paris</td>
                <td>Il y a 3 jour</td>
            </tr>  
            <tr>
                    <td scope="row">
                            <a href="#modalOffre" class="alt_lien" data-toggle="modal" >Développeur PHP</a>
                            <div class="alt_lien_sous_titre">Contrat de professionnalisation</div><br>
                            <br>Dans le cadre de l'évolution et de la croissance de sa B.U. Pharmacie, le Groupe Cegedim recherche un INGÉNIEUR COMMERCIAL (H/F).
                    </td>
                    <td>Paris</td>
                    <td>Il y a 3 jour</td>
                </tr>  
                <tr>
                        <td scope="row">
                                <div class="alt_lien">Ingénieur web</div> 
                                <div class="alt_lien_sous_titre">Contrat de professionnalisation</div><br>
                                <br>Dans le cadre de l'évolution et de la croissance de sa B.U. Pharmacie, le Groupe Cegedim recherche un INGÉNIEUR COMMERCIAL (H/F).
                        </td>
                        <td>Paris</td>
                        <td>Il y a 3 jour</td>
                    </tr>  
                    <tr>
                            <td scope="row">
                                    <div class="alt_lien">Ingénieur web</div> 
                                    <div class="alt_lien_sous_titre">Contrat d'apprentissage</div><br>
                                    <br>Dans le cadre de l'évolution et de la croissance de sa B.U. Pharmacie, le Groupe Cegedim recherche un INGÉNIEUR COMMERCIAL (H/F).
                            </td>
                            <td>Paris</td>
                            <td>Il y a 3 jour</td>
                        </tr>  
                        <tr>
                                <td scope="row">
                                        <div class="alt_lien">Ingénieur web</div> 
                                        <div class="alt_lien_sous_titre">Contrat d'apprentissage</div><br>
                                        <br>Dans le cadre de l'évolution et de la croissance de sa B.U. Pharmacie, le Groupe Cegedim recherche un INGÉNIEUR COMMERCIAL (H/F).
                                </td>
                                <td>Paris</td>
                                <td>Il y a 3 jour</td>
                            </tr>  
                            <tr>
                                    <td scope="row">
                                            <div class="alt_lien">Ingénieur web</div> 
                                            <div class="alt_lien_sous_titre">Contrat de professionnalisation</div><br>
                                            <br>Dans le cadre de l'évolution et de la croissance de sa B.U. Pharmacie, le Groupe Cegedim recherche un INGÉNIEUR COMMERCIAL (H/F).
                                    </td>
                                    <td>Paris</td>
                                    <td>Il y a 3 jour</td>
                                </tr>    
    </tbody>
</table>