<!-- INCLUDE overall_header.html -->


<h1 class="ml-2">Administration</h1>

<div class="container-fluid">
    <div class="row">  
        <div class="col-3">
                <a class="nav-link active" href="{U_ALT_MODERATEUR}"><b>Accueil admin</b></a>
                <a class="nav-link" href="{U_ALT_ADMIN_ENTREPRISES}">Comptes entreprises</a>
                <a class="nav-link" href="{U_ALT_ADMIN_CANDIDATS}">Comptes candidats</a>
                <a class="nav-link" href="{U_ALT_ADMIN_ADMINS}">Compte admins</a>
                <a class="nav-link" href="{U_ALT_ADMIN_ANNONCES}">Annonces</a>
                <a class="nav-link" href="{U_ALT_ADMIN_CANDIDATURES}">Dernières candidatures</a>
                <a class="nav-link" href="{U_ALT_ADMIN_PAIEMENTS}">Derniers paiements</a>
                <a class="nav-link" href="{U_ALT_ADMIN_CVTHEQUE}">CVthèque</a>
                
        </div>
        <div class="col-9">
            <h1>Stats</h1>
            Nb de comptes "candidats" créés ce mois-ci : <b>{nb_inscription_candidats}</b>
            <br>Nb de comptes "entreprises" créés ce mois-ci : <b>{nb_inscription_entreprises}</b>


        </div>
    </div>
</div>

<br><br><br>

<!-- INCLUDE overall_footer.html -->