<!-- INCLUDE overall_header.html -->



<div class="container-fluid">
        <div calss="row">
    
            <div class="col">
    
            </div>
            <div class="col">
                    <br><br>
                <div class="container-fluid" >
    
                    <div class="row">
                        <div class="container pt-4 mt-4 mb-4" style="background-color: rgba(185, 185, 185, 0.527); border: 1px solid #C0C0C0; border-radius: 10px; box-shadow: 3px 3px 6px 0 #A9A9A9; width: 650px">
    
                            <div class="container pt-4 mb-4" style="background-color: white; border: 1px solid #C0C0C0; border-radius: 10px; box-shadow: 3px 3px 6px 0 #A9A9A9; width: 600px">
    
                                <ul class="col-sm-12 clearfix" >
                                    <!-- DEBUT CONTENU -->
                                    
                                   

                                        <div class="container">
                                            <div class="row">
                                                <div class="col-12" style="text-align: center">
                                                    
                                                    <div style="color: {COLOR}">{MESSAGE}</div>    
                                                   
                                                </div>
                                            </div>
                                        </div>
                                       
                                    <!-- FIN CONTENU -->
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>	

                <br><br><br><br><br><br><br><br>

            </div>
        </div>
    </div>

    <!-- <div class="alt_lien_sous_titre">{email_enable}</div> -->

<!-- INCLUDE overall_footer.html -->
