<div class="container mb-3">
   <div class="row">
        <div class="col-12">
            <a href="{U_ALT_MES_ANNONCES}" style="float:right"><button type="button" class="btn imageActualiser" style="background-color: #C0C0C0;">Actualier</button></a>
            <div style="font-size: 1.2em; color: grey">Bonjour {prenom},</div>
            
        </div>

   </div>
   
</div>

<div class="container mb-5">
    <nav class="nav nav-tabs" id="tabAnnonces" role="tablist">
        <a class="nav-item nav-link {ONGLET_MES_ANNONCE_SELECTED}" id="nav-tab-mes-annonces" data-toggle="tab" href="#nav-contenu-mes-annonces" role="tab" aria-controls="nav-home" aria-selected="true">Mes annonces</a>
        <!-- <a class="nav-item nav-link {ONGLET_MES_CV_SELECTED}" id="nav-tab-mes-cv" data-toggle="tab" href="#nav-contenu-mes-cv" role="tab" aria-controls="nav-home">CVThèque</a> -->
        <a class="nav-item nav-link {ONGLET_MON_PROFIL_SELECTED}" id="nav-tab-mon-profil" data-toggle="tab" href="#nav-contenu-mon-profil" role="tab" aria-controls="nav-home">Mon profil</a>
        <a class="nav-item nav-link {ONGLET_MES_FACTURES_SELECTED}" id="nav-tab-mes-factures" data-toggle="tab" href="#nav-contenu-mes-factures" role="tab" aria-controls="nav-home">Mes factures</a>
        <a class="nav-item nav-link {ONGLET_MON_COMPTE_SELECTED}" id="nav-tab-mon-compte" data-toggle="tab" href="#nav-contenu-mon-compte" role="tab" aria-controls="nav-home">Mon compte</a>
    </nav>

    <div class="row">
        
        <div class="col-12 col-sm-12 col-lg-12 col-xl-12 tab-content" >   
             <!-- Contenu "mes annonces" -->    
            <div class="tab-pane fade show {ONGLET_MES_ANNONCE_SELECTED}" id="nav-contenu-mes-annonces" role="tabpanel" aria-labelledby="nav-tab-mes-annonces">

                <br>
                <form name="creerNouvelleAnnonce" method="POST" action="{ACTION_FORM_CREER_ANNONCE}">
                    <input type="submit" name="submit" id="submit" value="Créer une annonce" class="btn btn-success default-submit-action" />
                </form>
                <br>
         
                
      

                <!-- BEGIN mesannonces -->             
                <div class="container-fluid card p-3 m-0" style="background-color: rgb(252, 249, 249) border: 1px solid #C0C0C0; border-radius: 10px; box-shadow: 3px 3px 6px 0 #A9A9A9;">

                    <!-- Annonce : Modal  -->
                    <div class="modal fade" id="modalAnnonce{mesannonces.ID}" tabindex="-1" role="dialog" aria-labelledby="Annonce" aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                            <div class="modal-header">
                                <div class="alt_lien_sous_titre">Réf : {mesannonces.REF}</div>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="container-fluid pl-0">
                                    <div class="row">
                                        <div class="col">
                                            <h5 class="modal-title" id="exampleModalLabel" style="color: #007bff">{mesannonces.TITRE}</h5>
                                            <div style="color: red;">{mesannonces.LIEU}</div>
                                        </div>

                                        <div class="col" style="text-align: right; padding: 0px">
                                            <!-- <a onclick="favoris({mesannonces.ID})" data-dismiss="modal" style="cursor: pointer"><img src="{T_IMAGES_PATH}site/accueil/btn_favoris_noir_mini.png" id="Mcoeur{mesannonces.ID}" title="Ajouter cette annonce dans vos favoris"></a>
                                            <a style="cursor: pointer" data-dismiss="modal"><img src="{T_IMAGES_PATH}site/accueil/btn_facebook_noir_mini.png" id="Mfacebook{mesannonces.ID}" title="Publier cette offre sur votre mur Facebook"></a>
                                             -->
                                            <!-- IF S_USER_LOGGED_IN -->
                                            <!-- <button data-toggle="modal" class="unstyled-button" data-target="#modalCommentaire{mesannonces.ID}" data-dismiss="modal" data-id="{mesannonces.ID}" style="cursor: pointer"><img src="{T_IMAGES_PATH}site/accueil/btn_postuler_noir_mini.png" id="M2postuler{mesannonces.ID}"  title="Postuler à cette annonce"></button> -->
                                            <!-- ELSE -->
                                            <!-- <a href="{U_LOGIN_LOGOUT}" style="cursor: pointer" title="postuler"><img src="{T_IMAGES_PATH}site/accueil/btn_postuler_noir_mini.png" title="Postuler à cette annonce"></a> -->
                                            <!-- ENDIF -->
                                            
                                            <!-- <a onclick="postuler({mesannonces.ID})" data-dismiss="modal" style="cursor: pointer"><img src="{T_IMAGES_PATH}site/accueil/btn_postuler_noir_mini.png" id="M2postuler{mesannonces.ID}"  title="Postuler à cette annonce"></a> -->
                                        </div>
                                    </div>
                                </div>
                            
                                <hr style="height: 1px; color: rgb(172, 172, 172); background-color: rgb(177, 177, 177); width: 100%; border: none;">
                                <b>Type de contrat :</b> {mesannonces.TYPE_CONTRAT}
                                <br><b>Publiée le :</b> {mesannonces.DATE_PUBLICATION}
                                <br><b>Domaine :</b> {mesannonces.DOMAINE} {mesannonces.DOMAINE_ARTISANAT}
                                <br><b>Date de début :</b> {mesannonces.DATE_DE_DEBUT}
                                <br><b>Durée :</b> {mesannonces.DUREE}{mesannonces.DUREE_NOMBRE} {mesannonces.DUREE_TYPE}
                                <br>
                                <br><b>Descriptif : </b>
                                <br> 
                                {mesannonces.DESCRIPTION}

                                    
                            </div>
                            <div class="modal-footer">
                            
                                            <!-- IF U_USER_ADMIN -->
                                            <div class="dropdown">
                                                <button class="btn btn-sm btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    Admin
                                                </button>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                    <a class="dropdown-item" data-dismiss="modal" onclick="valider({mesannonces.ID})">Valider annonce</a>
                                                    <a class="dropdown-item" data-dismiss="modal" onclick="supprimer({mesannonces.ID})">Supprimer annonce</a>
                                                </div>
                                            </div>
                                            <!-- ENDIF -->
                                        <!-- <a onclick="postuler({mesannonces.ID})" data-dismiss="modal" style="cursor: pointer"><img src="{T_IMAGES_PATH}site/accueil/btn_postuler_noir_mini.png" id="Mpostuler{mesannonces.ID}"  title="Postuler à cette annonce"></a> -->
                            
                                
                            
                            </div>

                            </div>
                        </div>
                    </div>

                
                    
                    <div class="row mb-2 ">
                        <div class="col-md-8 mr-auto">
                            <a style="font-weight: bold" href="javascript:afficheCandidatAnnonce({mesannonces.ID});">{mesannonces.LIEU} - {mesannonces.TITRE} - Réf : {mesannonces.REF} - {mesannonces.DATE_PUBLICATION}</a>
                            &nbsp; <a class="alt_lien_sous_titre" href="#modalAnnonce{mesannonces.ID}" data-toggle="modal">Voir l'annonce</a>
                            <br>{mesannonces.TYPE_CONTRAT}
                        </div>

                        
  
                 
                        <div class="col-auto">
                            <button  id="btnStatutAnnonce{mesannonces.ID}" rel="popover" data-trigger="hover"  data-content="{mesannonces.MESSAGE_STATUT}" type="button" class="unstyled-button bold btn btn-default btn-sm" aria-expanded="true">
                                <div style="color: {mesannonces.STATUT_COULEUR}">{mesannonces.STATUT} &nbsp;<span class="fa fa-circle"></span></div>
                            </button>
                            <!-- <script>
                                jQuery(document).ready(function( $ ) {
                                    $('#btnStatutAnnonce{mesannonces.ID}').popover();
                                });
                            </script> -->
                        </div>
                        <div class="col-auto">
                            <div class="dropdown">
                                <a class="btn btn-outline-danger dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Actions
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" href="#modalAnnonce{mesannonces.ID}" data-toggle="modal">Consulter</a>
                                <a class="dropdown-item" href="{mesannonces.LIEN_ANNONCE_EDIT}">Editer</a>
                                <a class="dropdown-item" href="{mesannonces.LIEN_ANNONCE_DUPLIQUER}">Dupliquer</a>

                                <!-- IF mesannonces.PAYE  -->    
                                <a class="dropdown-item" href="{mesannonces.LIEN_ANNONCE_ACTIVER}">Activer</a>
                                <a class="dropdown-item" href="{mesannonces.LIEN_ANNONCE_DESACTIVER}">Désactiver</a>    
                                <a class="dropdown-item" href="{mesannonces.LIEN_ANNONCE_FACTURE}" target="_blank">Facture</a>    


                                <!-- ELSE -->

                                
                                <a class="dropdown-item" href="{mesannonces.LIEN_ANNONCE_PAYER}">Payer</a>
                               
                               <!-- IF U_ALT_MODERATEUR --> 
                               <!-- <a class="dropdown-item" href="{mesannonces.LIEN_AJOUTER_CANDIDAT}">Ajouter candidat</a> -->
                               <a class="dropdown-item" href="{mesannonces.LIEN_ANNONCE_PAYER_MODERATEUR}">Payer (admin)</a>
                               <!-- ENDIF -->     

                               
                                <!-- ENDIF -->
                                <a class="dropdown-item" href="{mesannonces.LIEN_ANNONCE_SUPPRIMER}">Supprimer</a>
                                
                            </div>
                            </div>
                        </div>
                    </div>
                   
                    <div class="row ">
                        <div class="col-12 col-md-3" style="text-align: center">
                            <button type="button" onclick="javascript:afficheCandidatAnnonce({mesannonces.ID});" class="btn btn-light" style="border-color: #dc3545;"  >
                                Tous les candidats {mesannonces.nbCandidat}
                            </button>
                        </div>
                        <div class="col-12 col-md-3" style="text-align: center">
                                <button type="button" onclick="javascript:afficheCandidatAnnonce({mesannonces.ID});" class="btn btn-light" style="border-color: #dc3545;">
                                Nouveaux {mesannonces.nbCandidatNouveau}
                            </button>
                        </div>
                        <div class="col-12 col-md-3" style="text-align: center">
                                <button type="button" onclick="javascript:afficheCandidatAnnonce({mesannonces.ID});" class="btn btn-light" style="border-color: #dc3545;">
                                Sélectionnés {mesannonces.nbCandidatSelectionne}
                            </button>
                        </div>
                        <!-- <div class="col-12 col-md-2">
                            <button type="button" onclick="javascript:afficheCandidatAnnonce({mesannonces.ID});" class="btn btn-light" style="border-color: #dc3545;">
                                Entretien téléphonique <span class="badge badge-primary">0</span>
                            </button>
                        </div>
                        <div class="col-12 col-md-2">
                            <button type="button" onclick="javascript:afficheCandidatAnnonce({mesannonces.ID});" class="btn btn-light" style="border-color: #dc3545;">
                                RDV Physique <span class="badge badge-primary">0</span>
                            </button>
                        </div> -->
                        <div class="col-12 col-md-3" style="text-align: center">
                                <button type="button" onclick="javascript:afficheCandidatAnnonce({mesannonces.ID});" class="btn btn-light" style="border-color: #dc3545;">
                                Refusés {mesannonces.nbCandidatRefuse}
                            </button>
                        </div>
                        <!-- <div class="col-12 col-md-2" style="text-align: center">
                            <button type="button" onclick="javascript:afficheCandidatAnnonce({mesannonces.ID});" class="btn btn-light" style="border-color: #dc3545;"> 
                                10 meilleurs CV {mesannonces.nbCandidat10meilleurs}
                            </button>
                        </div> -->
                    </div>
                </div>   
                <br>
                    
                <!-- Liste des candidats pour l'annonce -->  
                <div id="candidatsAnnonces{mesannonces.ID}" style="display: none">
                   
                    <!-- <div class="container p-3 mt-0" >
                        <div class="row justify-content-start">
                            <div class="col-2 ml-4" >
                                <input type="checkbox" class="form-check-input" id="toutselectionner{mesannonces.id}"> Tout sélectionner
                            </div>
                            <div class="col">
                                <div class="dropdown">
                                    <a class="btn btn-sm btn-outline-danger dropdown-toggle" href="#" role="button" id="dropdownActionsGroupes{mesannonces.id}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Actions groupées
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <a class="dropdown-item" href="#">Supprimer le(s) candidat(s)</a>
                                        <a class="dropdown-item" href="#">Envoyer un email</a>

                                    </div>
                                </div>
                            </div>
                            <div class="col-auto"></div>
                        </div>
                    </div> -->
                    
                    <br>

                    <div class="container">
                       <div class="table-hover">          
                        <table class="table">
                          <thead>
                            <tr>
                              <th>&nbsp;#</th>
                              <th>Prénom</th>
                              <th>Nom</th>
                              <th>Age</th>
                              <th>Ville</th>
                              <th>Niveau de formation</th>
                              <th>Domaine</th>
                              <th>Commentaire</th>
                              <th>CV</th>
                              <th>Statut</th>
                              <th>Actions</th>
                            </tr>
                          </thead>
                          <tbody>
                             <!-- BEGIN mesannonces.candidats -->  
                            <tr>
                              <td><input class="ml-1" type="checkbox" class="form-check-input" id="selectionnerCandidat{mesannonces.candidats.id_candidature}"></td>
                              <td><a href="{mesannonces.candidats.lienApercu}">{mesannonces.candidats.nom}</a></td>
                              <td><a href="{mesannonces.candidats.lienApercu}">{mesannonces.candidats.prenom}</a></td>
                              <td>{mesannonces.candidats.age}</td>
                              <td>{mesannonces.candidats.ville}</td>
                              <td>{mesannonces.candidats.niveau_formation}</td>
                              <td>{mesannonces.candidats.domaine}</td>
                              <td>
                                <button style="display: {mesannonces.candidats.commentaireDisplay}" type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#commentaire{mesannonces.candidats.id_candidature}" title="{mesannonces.candidats.commentaire}">Commentaire</button>
                                <!-- Modal -->
                                <div id="commentaire{mesannonces.candidats.id_candidature}" class="modal fade" role="dialog">
                                    <div class="modal-dialog">
                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header" style="text-align: left">  
                                            <h4 class="modal-title">Commentaire du candidat</h4>
                                        </div>
                                        <div class="modal-body">
                                        <p>{mesannonces.candidats.commentaire}</p>
                                        </div>
                                        <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                                        </div>
                                    </div>
                                
                                    </div>
                                </div>
                              </td>
                              <td><a href="{mesannonces.candidats.lienApercu}">cv</a></td>
                              <td style="color: {mesannonces.candidats.statutColor}">{mesannonces.candidats.statut}</td>
                              <td>
                                <div class="dropdown">
                                    <a class="btn btn-sm btn-outline-danger dropdown-toggle" href="#" role="button" id="dropdownActionsCandidat{mesannonces.candidats.id_candidature}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Actions
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <!-- <a class="dropdown-item" href="{mesannonces.candidats.lien_candidature_statut_nouveau}">Nouveau</a> -->
                                        <a class="dropdown-item" href="{mesannonces.candidats.lien_candidature_statut_selectionne}">Sélectionné</a>
                                        <a class="dropdown-item" href="{mesannonces.candidats.lien_candidature_statut_refuse}">Refusé</a>
                                        <!-- <a class="dropdown-item" href="{mesannonces.candidats.lien_candidature_statut_top10}">Top 10</a> -->
                                    </div>
                                </div>
                              </td>
                            </tr>
                             <!-- END mesannonces.candidats --> 
                          </tbody>
                        </table>
                        </div>
                      </div>

                    <br>
                    
                    
                    <!-- FIN Liste des candidats pour l'annonce -->  
                    <br>
                </div>
                <!-- END mesannonces --> 
                
                

            </div>
            
            <script>
                    function afficheCandidatAnnonce(id) {
        
                        var div = document.getElementById("candidatsAnnonces"+id);
      
                        if (div != undefined) {
                            if (div.style.display === 'none') {
                                div.style.display = 'block';
                            } else {
                                div.style.display = 'none';
                            }
                        }

                    }
                </script>
            
        
           
            <!-- Contenu "Mes CVS" -->    
            <div class="tab-pane fade {ONGLET_MES_CV_SELECTED}" id="nav-contenu-mes-cv" role="tabpanel" aria-labelledby="nav-tab-mes-cv">

                <div class="container card p-3 mt-3 pb-3">
                
                    <div class="row ">
                        <div class="col" >
                                <div class="container">

                                    Retrouvez ici la liste de CV des candidats que vous souhaitez garder en favoris.
                                    <br> <br>
                                    <!-- IF ACCES_CVTHEQUE --> 
                                    Vous avez accès à la CVthèque jusqu'au {DATE_ACCESS_CVTHEQUE}<br>
                                    <a href="{U_ALT_CVTHEQUE}"><button type="button" class="btn btn-primary">Consulter la CVthèque</button></a>
                                    <!-- ELSE -->
                                    <a href="{U_ALT_CVTHEQUE_OFFRES}"><button type="button" class="btn btn-primary">Souscrire à une offre pour consulter la CVthèque</button></a>
                                    <!-- ENDIF --> 
                                         
                                    
                                    <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>
                                </div>           
                        </div>            
                                        
                    </div>
                        
                
                </div>
    
            </div>
           
           
           
              <!-- Contenu "mes factures" -->    
              <div class="tab-pane fade show {ONGLET_MES_FACTURES_SELECTED}" id="nav-contenu-mes-factures" role="tabpanel" aria-labelledby="nav-tab-mes-factures">

  
                            
                <div class="container-fluid card p-3 m-0" style="background-color: rgb(252, 249, 249) border: 1px solid #C0C0C0; border-radius: 10px; box-shadow: 3px 3px 6px 0 #A9A9A9;">
                    <div class="row ">
                      
                                                
                        <div class="container-fluid" > 
                            <div class="row" >  
                               
                                <div class="col-12" >

                                    <div class="container-fluid">
                                                    <table class="table">
                                                        <thead>
                                                        <tr>
                                                          
                                                            <th>Réf</th>
                                                            <th>Ville</th>
                                                            <th>Le poste</th>
                                                            <th>Le contrat</th>
                                                            <th>La date de paiement</th>
                                                            <th>Montant</th>
                                                            <th>Facture</th>
 
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                            <!-- BEGIN mesfactures --> 
                                                            <tr>
                                                              
                                                                <td nowrap>{mesfactures.ref}</td> 
                                                                <td nowrap>{mesfactures.ville}</td>  
                                                                <td><a href="{mesfactures.lien_annonce}">{mesfactures.poste}</a></td>    
                                                                <td nowrap>{mesfactures.contrat_type}</td>   
                                                                <td nowrap>{mesfactures.date_paiement}</td>             
                                                                <td nowrap style="text-align:center">{mesfactures.montant}</td>   
                                                                <td nowrap><a href="{mesfactures.lien_facture}">{mesfactures.titre_facture}</a></td>   

                                                                
                                                            </tr>
                                                            <!-- END mesfactures --> 
                                                        </tbody>
                                                    </table>
                                                </div>
                                    
                                </div>
                            </div>
                        </div>


                        
                    </div>
                </div>   
        
         
                
                
                

            </div>
           
            <!-- Contenu "Mon profil" -->    
            <div class="tab-pane fade {ONGLET_MON_PROFIL_SELECTED}" id="nav-contenu-mon-profil" role="tabpanel" aria-labelledby="nav-tab-mon-profil">

                <div class="container card p-3 mt-3 pb-3">
             
                    <div class="row ">
                        <div class="col" >
                                <div class="container">

                                    <div style="color: green; text-align: center">{MONPROFIL_MESSAGE}</div>
                                    <form id="profilSauvegarder" method="post" action="{ACTION_FORM_PROFIL_SAUVEGARDER}">
                                        <input type="hidden" name="action" value="profilSauvegarder">
                                        <input type="hidden" name="typeCompte" value="entreprise">
                                        
                                        <div class="row" id="champsCandidat" style="display: {display_candidat}">
                                            <div class="col-xs-3">
                                                <label>Société :</label> *
                                                <input type="text" class="form-control" tabindex="0" name="societe_nom" id="societe_nom" value="{societe_nom}" />
                                                <label>Prénom :</label> *
                                                <input type="text" class="form-control" tabindex="0" name="societe_ident_prenom" id="societe_ident_prenom" value="{societe_ident_prenom}" />
                                                <label>Nom :</label> *
                                                <input type="text" class="form-control" tabindex="0" name="societe_ident_nom" id="societe_ident_nom" value="{societe_ident_nom}" />

                                                <label>Ville :</label> *
                                                <input type="search" class="form-control" tabindex="0" name="societe_adresse_ville" id="societe_adresse_ville" value="{societe_adresse_ville}" />	
                                              
                                                <label>Région :</label>
                                                <input type="search" class="form-control" tabindex="0" name="societe_region" id="societe_region" value="{societe_region}" />	
                                              
                                                <label>Secteur d'activité :</label>

                                                <select class="selectpicker form-control" tabindex="0" name="societe_secteur_activite" id="societe_secteur_activite">
                                                    <option selected>{societe_secteur_activite}</option>

                                                    <option>Administration - Fonction publique</option>
                                                    <option>Agroalimentaire</option>
                                                    <option>Artisanat</option>
                                                    <option>Association</option>
                                                    <option>Automobile</option>
                                                    <option>Banque - Assurance - Finance</option>
                                                    <option>Bois - Papier - Carton - Imprimerie</option>
                                                    <option>Chimie - Parachimie</option>
                                                    <option>Commerce - Négoce - Distribution</option>
                                                    <option>Marketing - Communication - Edition</option>
                                                    <option>BTP - Matériaux de construction</option>
                                                    <option>Culture - Sport - Loisir</option>
                                                    <option>Energie</option>
                                                    <option>Enseignement - Formation - Conseil</option>
                                                    <option>Environnement - Récupération</option>
                                                    <option>Equipement - Matériel pour activités professionnelles</option>
                                                    <option>Fabrication</option>
                                                    <option>Gestion - Administration des entreprises</option>
                                                    <option>Hôtellerie - Restauration</option>
                                                    <option>Immobilier</option>
                                                    <option>Industrie pharmaceutique</option>
                                                    <option>Informatique</option>
                                                    <option>Logistique - Transport</option>
                                                    <option>Matériel électrique - Electronique - Optique</option>
                                                    <option>Mécanique - Métallurgie</option>
                                                    <option>Minérais - Minéraux - Sidérurgie</option>
                                                    <option>Professions juridiques</option>
                                                    <option>Santé - Action sociale</option>
                                                    <option>Service aux particuliers - Collectivités - Entreprises</option>
                                                    <option>Textile - Habillement - Chaussure</option>
                                                    
                                                </select>

                                                <div id="rowDomaineArtisanat" style="display: none">
                                                    <label>Domaine artisanat :</label>
                                                    <input type="search" class="form-control " id="domaineArtisanat" name="domaineArtisanat" aria-describedby="domaineArtisanat" >
                                                </div>
                                                
                                         
                                                <label>Téléphone :</label>
                                                <input type="text" class="form-control" tabindex="0" name="societe_tel" id="societe_tel" value="{societe_tel}" />
            
                                              
                                                <br><br>
                                                <button type="submit" class="btn btn-primary">Modifier</button>
                                            </div>
                                        </div>
                                    </form>
                                                                                                                                                                                                                    
                                </div>           
                        </div>            
                                        
                    </div>
                        
                
                </div>

            </div>

            <!-- Contenu "Mon compte" -->    
            <div class="tab-pane fade {ONGLET_MON_COMPTE_SELECTED}" id="nav-contenu-mon-compte" role="tabpanel" aria-labelledby="nav-tab-mon-compte">
                <div class="container card p-3 ml-2">
                    <div class="row ">
                        <div class="col" >
                            <div class="container" >
                               <div style="color: green; text-align: center">{MONCOMPTE_MESSAGE}</div>
                               <div class="row ">
                                    <div class="col" >
                                        <form id="compteSauvegarder" method="post" action="{ACTION_FORM_COMPTE_SAUVEGARDER}">
                                         <input type="hidden" name="action" value="compteSauvegarder">
                                        
                                        <div style="font-size: 0.7em">Numéro de compte : 365{user_id}</div>
                                        <br>
                                        <b>Adresse email :</b>
                                        <br><input type="text" class="form-control" name="nouvelEmail" value="{user_email}">
                                        (Pour pouvoir modifier votre email, veuillez re-saisir votre mot de passe ci-dessous)
                                        <br><br>
                                        <b>Nouveau mot de passe :</b>
                                        <br><input type="password" class="form-control" name="nouveauPass" value="">
                                        <b>Confirmer votre mot de passe :</b>
                                        <br><input type="password" class="form-control" name="confirmNouveauPass" value="">
                                        <hr>
                                        <b>Type de compte :</b>
                                        <br>
                                        <select class="selectpicker form-control" name="typeCompte" id="typeCompte">
                                            <option value="candidat" {typecompte_candidat_selected}>Candidat</option>
                                            <option value="entreprise" {typecompte_entreprise_selected}>Entreprise</option>
                                        </select>
                                        <br>
                                        <hr>
                                        <button type="submit" class="btn btn-primary">Modifier</button>
                                        </form>
                                        <!-- 
                                        
                                        <hr>
                                        <br>
                                        Argent disponible sur votre compte : {ARGENT}
                                        <br><br>
                                        <form name="formCredit" method="POST" action="{FORM_CREDIT_ACTION}">
                                            Montant que vous souhaitez créditer sur votre compte : <input type="text" name="montant" value="100" size="15"/> €
                                            <br><br>
                                            <input type="submit" name="btnCreditCompte" value="Créditer mon compte" class="btn btn-success default-submit-action">
                                        </form> -->
                                        
                                    </div>  
                                </div>
                                <div class="row ">
                                    <div class="col" style="text-align:right">
                                        <a href="{ACTION_COMPTE_SUPPRIMER}" class="alt_lien_small" style="font-size: 0.7em">Supprimer mon compte</a>
                                    </div>     
                                </div>
                            </div>
                        </div>
                    </div>
                  
                </div>
            </div>
    
           
        
            <script>
            
                function postuler(annonceId) {
                    $.ajax({
                        url : '{U_ALT_AJAX}',
                        type : 'POST', 
                        data : 'action=postuler&annonceId=' + annonceId, 
                        dataType : 'html',
                        success : function(code_html, statut){ 

                            // alert(code_html);
                            
                            
                            document.getElementById("colMesFavorisPostuler"+annonceId).innerHTML = 'Candidature effectuée!'; 

                        },
                
                        error : function(resultat, statut, erreur){
                            alert(code_html);
                        },
                        complete : function(resultat, statut){

                        }

                    });
                }

                function supprimerFavoris(annonceId) {
                    $.ajax({
                        url : '{U_ALT_AJAX}',
                        type : 'POST', 
                        data : 'action=supprimerFavoris&annonceId=' + annonceId, 
                        dataType : 'html',
                        success : function(code_html, statut){ 

                            // alert(code_html);
                            
                            
                            document.getElementById("colMesFavorisPostuler"+annonceId).innerHTML = 'Annonce supprimée des favoris!'; 

                        },
                
                        error : function(resultat, statut, erreur){
                            alert(code_html);
                        },
                        complete : function(resultat, statut){

                        }

                    });
                }
            
            </script>
        
           
        </div>
       
    </div>

</div>
<div id="rechercheannonce">
    <div style="text-align: center">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
           
        <ins class="adsbygoogle"
            style="display:block"
            data-ad-client="ca-pub-5250430950478493"
            data-ad-slot="4948269035"
            data-ad-format="auto"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
     </div>    
    <br><br><br>
</div>
