
<div class="container-fluid d-none d-md-block mt-2" style="height: 140px; background-color: rgba(226, 219, 219, 0.3);">
    <div class="row" style="text-align: center">
        <div class="col" >
            <h1 style="font-size: 26px; color : rgb(88, 88, 88); text-shadow: 2px 2px #d4d4d4;">Vous les connaissez ?</h1>
            <!-- <div style="background-color: grey; border-top: 1px solid rgba(241, 240, 240, 0.849); width : 300px;  " ></div> -->
            <img class="mt-2" src="{T_IMAGES_PATH}site/logos/bande-logo.gif" alt="Entreprises qui recrutent">
        </div>
    </div>   
    
</div>      
