
<script>
    $(function() {

        // DYNAMISATION DES DIMENSIONS DU CAROUSSEL
        var margLeftLi = parseInt($('#content_carousel ul li+li').css('margin-left'));
        var contentCarouselWidth = (($('#content_carousel ul li').width()) * 7) + (7 * margLeftLi);
       
        $('#content_carousel').width(contentCarouselWidth);
        
        var ulWidth = (($('#content_carousel ul').children().length) * 100) + (($('#content_carousel ul').children().length)-1) * margLeftLi;
        
        $('#content_carousel ul').width(ulWidth);
        
        var carouselWidth = contentCarouselWidth + (2 * $('#carousel .arrow').width()) + (2 * parseInt($('#content_carousel').css('margin-left')));
        
        $('#carousel').width(carouselWidth);
        
        
        
        // NAVIGATION DANS LE CAROUSSEL
        $('#carousel .arrow.prev').click(function(evt) {
            var margLeftUl = parseInt($('#content_carousel ul').css('margin-left'));
            if(margLeftUl < 0) {
                $(this).closest('#carousel').find('#content_carousel ul').animate({'margin-left':'+='+contentCarouselWidth},1000);
            }
        });
        
        $('#carousel .arrow.next').click(function(evt) {
            var margLeftUl = parseInt($('#content_carousel ul').css('margin-left'));
            console.log(-(carouselWidth * 1.75));
            if(margLeftUl > -(carouselWidth * 1.75)) {
                $(this).closest('#carousel').find('#content_carousel ul').animate({'margin-left':'-='+contentCarouselWidth},1000);
            }
        });
    
    });

</script>